<!DOCTYPE html>
<html>
<head>
	<title>购物车 - 未来商城</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__STATIC__/index/css/style.css"/>
	<script src="__STATIC__/index/js/jquery.min.js"></script>
	<script src="__STATIC__/admin/js/func.js"></script>
</head>
<body>
<div class="top">
    {include file="public/top"/}   
	{include file="public/header-nav"/} 	
<div class="usercenter">
    {include file="public/menu-left"/}   
	<div class="content">我的购物车
		{if !$cart}
		<br /><div style='width:1000px;text-align:center';><a href="{:url('index/index')}"><img src='__ROOT__/uploads/no.jpg'></a></div>
		{else /}
		<form method="post" action="{:url('goods/submitcart')}">
		<table border="1" class="shopcart">
			<tr class="tr-tit"><th class="w50"><a href="javascript:void(0);" onclick="checkedAll()">全选</a></th><th>商品</th><th class="w50">单价</th><th class="w92">数量</th><th class="w50">操作</th></tr>
            {volist name='cart' id='v'}
			<tr class="item">
				<td class="center"><input type="checkbox" class="check" name="id[]" value="{$v.cartid}" /></td>
				<td><a href="{:url('goods/goods', array('id'=>$v['bookid']))}">{$v.bookname}</a></td>
				<td class="center"><span class="item-price">{$v.price}</span></td>
                <!-- 商品数量的加减 -->
				<td><input class="setNum" type="button" value="-" /><input class="item-num" onkeyup="checkNum(this)" type="text" value="{$v.booknum}" name="num[]"/><input class="setNum"  type="button" value="+" /></td>
				<td class="center"><a href="{:url('goods/delcart', array('id'=>$v['cartid']))}"  onclick="return validateDel();"/>删除</a></td>
			</tr>
            {/volist}
				<tr><th><a href="javascript:void(0);" onclick="checkedAll()">全选</a></th><td colspan="4">删除选中的商品&nbsp;&nbsp;继续购物&nbsp;&nbsp;
				共<span id="num"></span>件商品 总计：<span class="price">￥<span id="monery"></span></span><input type="hidden" id="totalPrice" name="totalPrice"/>
				<input type="submit" value="提交订单" class="order-btn" />
			</td></tr>
		</table>
		</form>
	</div>
	<div class="clear"></div>
</div>
<script>
	//点击修改数量
	$(".setNum").click(function () {
		if ($(this).val() === '-') {
			if ($(this).next().val() !== '1') {
				var num = $(this).next().val() - 1;
				$(this).next().attr("value", num);
				$(this).next().val(num);
                // $.get("modify.php",{cartid:cartid,action:"minus"});
			}
		}else if ($(this).val() === '+') {
			if ($(this).prev().val() !== '100') {
				var num = parseInt($(this).prev().val()) + parseInt(1);
				$(this).prev().attr("value", num);
				$(this).prev().val(num);
                // $.get("modify.php",{cartid:cartid,action:"plus"});
			}
		}
		func();
	});
	//键盘修改数量
	function checkNum(obj) {
		//判断当前值是否合法   凡是不合法的都重置为1
		var num = $(obj).val();
		if (num <= 1 || num >= 100) {
			$(obj).val(1);
		}
		func();
	}
	//默认情况下，设置为全选状态
	$(function () {
		$(":checkbox").prop("checked", true);
		$(":checkbox").attr("checked", true);
		func();
	});
	//全选
	function checkedAll() {
		$(":checkbox").each(function () {
			if (this.checked) {
				$(this).prop("checked", false);
				$(this).attr("checked", false);
			} else {
				$(this).prop("checked", true);
				$(this).attr("checked", true);
			}
		});
		func();
	}
	//单个选择时的状态设置
	$(".check").click(function () {
		$(this).each(function (i, v) {
			if (!v.checked) {
				$(this).prop("checked", false);
				$(this).attr("checked", false);
			} else {
				$(this).prop("checked", true);
				$(this).attr("checked", true);
			}
		});
		func();
	});
	//计算总价
	function func() {
		var price = 0;
		var num = 0;
		var totalnum = 0;
		$(".item").find(":checkbox:checked").each(function () {
			$(this).closest("tr").find(".item-num").each(function () {
				totalnum += parseInt($(this).val());
				num = parseInt($(this).val());
				$(this).closest("tr").find(".item-price").each(function () {
					price += $(this).text() * num;
				});
			});
		});
		$("#monery").text(price);
		$("#num").text(totalnum);
		$("#totalPrice").attr("value",price);
	}
</script>
{/if}
	<div class="footer">图书之家 &copy; 版权所有</div>
</div>
</body>
</html>