<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>图书之家 - 后台管理系统</title>
	<link rel="stylesheet" href="__STATIC__/admin/css/style.css"/>
	<script src="__STATIC__/admin/js/jquery.min.js"></script>
</head>
<body>
{include file="public/top"/}
<div class="main">
    {include file="public/left"/}
	<div class="content">
		<div class="item"><div class="title">后台首页</div>
<dl class="bordered">
	<dt>欢迎访问</dt>
	<dd>欢迎进入图书之家后台！请从左侧选择一个操作。</dd>
	<dd></dd>
</dl>
<dl class="bordered">
	<dt>系统相关信息</dt>
	<dd>管理员人数：999</dd>
	<dd>用户人数：999</dd>
	<dd>商品件数：999</dd>
	<dd>今日流水：2M</dd>
	<dd>总流水：30秒</dd>
</dl></div>
	</div>
</div>
<script>
	$("#Index_index").addClass("curr");
</script>
</body>
</html>