<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>未来商城 - 后台管理系统</title>
	<link rel="stylesheet" href="__STATIC__/admin/css/style.css"/>
	<script src="__STATIC__/index/js/jquery.min.js"></script>
</head>
<body>
{include file="public/top"/}
<div class="main">
    {include file="public/left"/}
	<div class="content">
		<div class="item"><div class="title">商品添加</div>
<div class="list list-left auto">
    <div class="fill left">
        数据来源：当当网
        <form method="post" enctype="multipart/form-data" action="{:url('book/getdata')}">
            <table>
                <tr><td>关键字</td></tr>
                <tr><td><input type="text" name="keyword" required ></td></tr>
                <tr><td>爬取页数</td></tr>
                <tr><td><input type="text" name="page" required ></td></tr>
                <tr><td><input type="submit" value="爬取数据" class="get"></td></tr>
        </table>
        </form> 
    </div>
    <table class="rank">
        <tr><th>类型</th><th>关键字</th><th>总页数</th></tr>
        <tr><th>畅销榜</th><th>bestsellers/01.00.00.00.00.00-24hours-0-0-1-</th><th>25</th></tr>
        <tr><th>热卖榜</th><th>newhotsales/01.00.00.00.00.00-24hours-0-0-1-</th><th>25</th></tr>
        <tr><th>童书榜</th><th>childrensbooks/01.41.00.00.00.00-24hours-0-0-1-</th><th>25</th></tr>
        <tr><th>好评榜</th><th>fivestars/01.00.00.00.00.00-recent30-0-0-1-</th><th>25</th></tr>
        <tr><th>飙升榜</th><th>soaringsales/01.00.00.00.00.00-0-0-0-1-</th><th>25</th></tr>
        <tr><th>特价榜</th><th>surplusbooks/01.00.00.00.00.00-recent7-0-0-1-</th><th>25</th></tr>
    </table>

</div>
<div class="list data left">
    爬取结果
	<table class="data-table">
		<tr><th class="t1" >图书名称</th><th>作者</th><th>出版社</th><th>出版日期</th><th>原价</th><th>现价</th><th>评论数</th><th>推荐率</th></tr>
        {volist name="tempbook" id="vo"}
        <tr>
            <td class="hidden1">{$vo['bookname']}</td>
            <td>{$vo.author}</td>
            <td>{$vo.press}</td>
            <td>{$vo['pubdate']}</td>
            <td>{$vo.origin_price}</td>
            <td>{$vo.now_price}</td>
            <td>{$vo.discuss}</td>
            <td>{$vo.recommend}</td>
        </tr>
        {/volist}
    </table>
    <div>{$tempbook->render()}</div>
</div>
<div class="list list-right auto left">
	<form method="post" enctype="multipart/form-data" action="{:url('book/add')}">
	<table class="t2 t4">
		<tr><th>图书名称：</th><td><input type="text" name="bookname" class="big" required ></td></tr>
		<tr><th>作者：</th><td><input type="text" name="author" class="big" required ></td></tr>
		<tr><th>出版社：</th><td><input type="text" name="press" class="big" required ></td></tr>
		<tr><th>出版日期：</th><td><input type="text" name="pubdate" class="big" required ></td></tr>
		<tr><th>价格：</th><td><input type="text" name="price" class="big" required ></td></tr>
		<tr><th>图书编号：</th><td><input type="text" name="ISBN" class="big" required ></td></tr>		
		<tr><th>上传图片：</th><td><input type="file" name="picture" /></td></tr>
	</table>
	<div class="editor">
		<link href="__STATIC__/admin/js/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet">
		<script src="__STATIC__/admin/js/umeditor/umeditor.config.js"></script>
		<script src="__STATIC__/admin/js/umeditor/umeditor.min.js"></script>
	<script>
	$(function(){
		//载入在线编辑器
		UM.getEditor("myEditor",{
		"imageUrl":"#", //图片上传提交地址
		"imagePath":"#"  //图片显示地址
		});
	});
	</script>
		<script type="text/plain" id="myEditor" name="introduction"><p>简介</p></script>
	</div>
	<div class="btn">
		<input type="submit" value="添加图书">
	</div>
	</form>
	</div>
	</div>
	</div>
</div>

<script>
	$("#Goods_add").addClass("curr");
</script>
</body>
</html>