<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>未来商城 - 后台管理系统</title>
	<link rel="stylesheet" href="__STATIC__/admin/css/style.css"/>
	<script src="__STATIC__/admin/js/jquery.min.js"></script>
	<script src="__STATIC__/admin/js/func.js"></script>
<body>
{include file="public/top"/}
<div class="main">
    {include file="public/left"/}
	<div class="content">
		<div class="item"><div class="title">商品列表</div>
<div class="list full">
	<table>
		<tr><th class="t1">图书名称</th><th>作者</th><th>出版社</th><th>价格</th><th>书号</th><th>出版日期</th><th>操作</th></tr>
        {volist name="data" id="vo"}
        <tr>
            <td class="hidden1" width="300px"><a href="{:url('index/Goods/goods',array('id'=>$vo['bookid']))}">{$vo['bookname']}</a></td>
            <td width="100px">{$vo['author']}</td>
            <td>{$vo.press}</td>
            <td>{$vo['price']}</td>
            <td>{$vo.ISBN}</td>
            <td>{$vo.pubdate}</td>
            <td><a href="{:url('admin/Book/edit',array('id'=>$vo['bookid']))}">修改</a>  <a href="{:url('admin/Book/del',array('id'=>$vo['bookid']))}" class="act-del" data-id="52" onclick="return validateDel();">删除</a></td>
        </tr>
        {/volist}
    </table>
</div>
<div>{$data->render()}</div>
</div>
	</div>
</div>
<script>
	$("#Goods_index").addClass("curr");
</script>
</body>
</html>