<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>未来商城 - 后台管理系统</title>
	<link rel="stylesheet" href="__STATIC__/admin/css/style.css"/>
	<script src="__STATIC__/admin/js/jquery.min.js"></script>
</head>
<body>
{include file="public/top"/}
<div class="main">
    {include file="public/left"/}
	<div class="content">
		<div class="item"><div class="title">修改商品</div>
<div class="list auto">
	<form method="post" enctype="multipart/form-data" action="{:url('book/update')}">
	<input type="hidden" name="bookid" value="{$book.bookid}">
	<table class="t2 t4">
		<tr><th>图书名称：</th><td><input type="text" name="bookname" value="{$book.bookname}" class="big" required ></td></tr>
		<tr><th>作者：</th><td><input type="text" name="author" value="{$book.author}" class="big" required ></td></tr>
		<tr><th>出版社：</th><td><input type="text" name="press" value="{$book.press}" class="big" required ></td></tr>
		<tr><th>出版日期：</th><td><input type="text" name="pubdate" value="{$book.pubdate}" class="big" required ></td></tr>
		<tr><th>价格：</th><td><input type="text" name="price" value="{$book.price}" class="big" required ></td></tr>
		<tr><th>图书编号：</th><td><input type="text" name="ISBN" value="{$book.ISBN}" class="big" required ></td></tr>
		<tr><th>修改图片：</th><td><input type="file" name="picture" /></td></tr>
		<tr><th>当前图片：</th><td><img src="__ROOT__/uploads/{$book.picture}"></td></tr>
	</table>
	<div class="editor">
		<link href="js/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet">
		<script src="js/umeditor/umeditor.config.js"></script>
		<script src="js/umeditor/umeditor.min.js"></script>
	<script>
	$(function(){
		//载入在线编辑器
		UM.getEditor("myEditor",{
		"imageUrl":"#", //图片上传提交地址
		"imagePath":"#"  //图片显示地址
		});
	});
	</script>
		<script type="text/plain" id="myEditor" name="introduction"><p class="nr" style="border:medium none;margin:0px;padding:0px;text-indent:28px;line-height:28px;color:rgb(88,88,88);font-family:arial, sans-serif;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-transform:none;white-space:normal;word-spacing:0px;"><span style="background-color:rgb(255,255,255);">《PHP+MySQL动态网站开发基础教程》全面讲述了PHP程序设计语言的基本原理和技术。全书共分为16章，深入介绍了PHP语言的用途与PHP环境的搭建、PHP语法和函数、字符串、数组、正则表达式、PHP与Web页面的交互、日期和时间、HTTP、Cookie和Session、数据库编程、用PHP操作MySQL数据库、文件操作、图像技术、面向对象编程、PHP与JavaScript和Ajax、ThinkPHP等内容。 本书内容丰富、结构合理、思路清晰、语言简练流畅、示例翔实，主要面向PHP语言的初学者，适合作为各种Web应用开发培训机构的培训教材、高等院校的PHP语言教材，还可作为Web应用开发人员的参考资料。 </span></p></script>
	</div>
	<div class="btn">
		<input type="submit" value="保存修改">		
	</div>
	</form>
</div>
</div>
	</div>
</div>
<script>
	$("#Goods_edit").addClass("curr");
</script>
</body>
</html>