<div class="menu left">
    <div class="box">
        <div class="head"><i></i><div>管理菜单</div></div>
        <ul><li><a href="{:url('admin/admin')}">后台首页</a></li>
            <li><a href="{:url('book/add')}" id="Goods_add">商品添加</a></li>
            <li><a href="{:url('book/all')}" id="Goods_index">商品列表</a></li>
            <li><a href="{:url('people/admin')}" id="Recycle_index">管理员列表</a></li>
            <li><a href="{:url('people/user')}" id="User_index">用户列表</a></li>
        </ul>
    </div>
</div>