<!DOCTYPE html>
<html>
	<head>
		<title>图书之家</title>
		<meta charset="UTF-8">
		<link href="__STATIC__/index/css/user.css" rel="stylesheet" />
		<link rel="stylesheet" href="__STATIC__/index/css/style.css" />
		<script src="__STATIC__/index/js/jquery.min.js"></script>
	</head>
	<body>
        {include file="public/top"/}
		<div class="box">
            {include file="public/header-nav"/}
			<script>
				$(".cate").hover(function() {
					$(this).find(".subitem").show();
					$(this).children(".subcate").children("a").addClass("on");
				}, function() {
					$(this).find(".subitem").hide();
					$(this).children(".subcate").children("a").removeClass("on");
				});
			</script>
            <!-- 登录弹窗 -->
            {include file="public/win-login"/}
            <!-- 弹窗结束 -->
            <!-- 注册弹窗 -->
            {include file="public/win-register"/}
            <!-- 弹窗结束 -->
			<!--新书发售-->
			<div class="best">
                <div class="best-title">全部商品</div>
                {volist name='data' id='v'}
				<ul class="item left center">
					<li><a href="{:url('Goods/goods',array('id'=>$v['bookid']))}" target="_blank"><img src="__ROOT__/uploads/{$v.picture}"></a></li>
					<li class="goods">{$v.bookname}</li>
					<li class="price">￥{$v.price}</li>
                </ul>
                {/volist}				
			</div>
			<script>
				$("#Index_index").addClass("curr");
			</script>

			<div class="footer"><a href="{:url('admin/admin/admin')}">图书之家</a> &copy; 版权所有</div>
		</div>
		<script src="__STATIC__/index/js/function.js"></script>
	</body>
</html>
