<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册 - 未来商城</title>
		<link href="__STATIC__/index/css/user.css" rel="stylesheet" />
	</head>
	<body>
		<div class="box">
			<h1>未来商城 - 欢迎注册</h1>
			<div class="main">
				<div class="register-ad left">
					<!--广告位-->
				</div>
				<form method="post" action="{:url('Login/add')}">
					<table class="register right">
						<tr>
							<th>昵称：</th>
							<td><input type="text" name="nickname" required /></td>
						</tr>
						<tr>
							<th>姓名：</th>
							<td><input type="text" name="username" required /></td>
						</tr>
                        <tr>
							<th>密码：</th>
							<td><input type="password" name="password" id="pwd" required /></td>
						</tr>
						<tr>
							<th>电话：</th>
							<td><input type="text" name="tel" required /></td>
						</tr>
						<tr>
							<th>地址：</th>
							<td><input type="text" name="address" required /></td>
						</tr>						
						<tr>
							<td> </td>
							<td><input class="button" type="submit" value="注　册" /></td>
						</tr>
						<tr>
							<td colspan="2" class="center"><a href="{:url('login/login')}">返回登录</a><a href="{:url('index/index')}">返回首页</a></td>
						</tr>
					</table>
				</form>
				<div class="clear"></div>
			</div>
		</div>
	<script src="__STATIC__/index/js/jquery.min.js"></script>		
	</body>
</html>
