<div class="top">
    <div class="top-nav">
        <ul>
            <li>收藏本站</li>
            <li>关注本站</li>
        </ul>
        <ul class="right">
            {if $Request.session.nickname}<li>欢迎您！{$Request.session.nickname} &nbsp;&nbsp;<a href="{:url('login/out')}">注销</a></li> 
            {else /}
            <li>您好，欢迎来到图书之家！请先[<a href="#" id="open_btn" class="btn">登录</a>]或者[<a href="#" id="register_btn">免费注册</a>]</li>
            {/if}
            <li class="line">|</li>
            <li><a href="{:url('goods/myorder')}">我的订单</a></li>
            <li class="line">|</li>
            <li><a href="{:url('user/user')}">会员中心</a></li>
            <li class="line">|</li>
            <li><a href="{:url('goods/mycart')}">我的购物车</a></li>
            <li class="line">|</li>
            <li><a href="{:url('admin/admin/admin')}">联系客服</a></li>
        </ul>
    </div>
</div>