<div class="box" id="register_background">
    <div class="main">
        <div class="register-ad left">
            <!--广告位-->
        </div>
        <form method="post" action="{:url('Login/add')}">
            <table class="register right">
                <tr>
                    <th>昵称：</th>
                    <td><input type="text" name="nickname" required /></td>
                </tr>
                <tr>
                    <th>姓名：</th>
                    <td><input type="text" name="username" required /></td>
                </tr>
                <tr>
                    <th>密码：</th>
                    <td><input type="password" name="password" id="pwd" required /></td>
                </tr>
                <tr>
                    <th>电话：</th>
                    <td><input type="text" name="tel" required /></td>
                </tr>
                <tr>
                    <th>地址：</th>
                    <td><input type="text" name="address" required /></td>
                </tr>						
                <tr>
                    <td> </td>
                    <td><input class="button" type="submit" value="注　册" /></td>
                </tr>
                <tr>
                    <td colspan="2" class="center"><a href="#" id="open_btn">返回登录</a><a href="{:url('index/index')}">返回首页</a><a href="#" id="register_close_btn">取消</a></td>
                </tr>
            </table>
        </form>
        <div class="clear"></div>
    </div>
</div>