<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>后台登录 - 图书之家</title>
	<link rel="stylesheet" href="__STATIC__/admin/css/style.css"/>
	<script src="__STATIC__/admin/js/jquery.min.js"></script>
    <script src="//at.alicdn.com/t/font_1905047_quc9lg8lo49.js"></script>
</head>
<body class="login">
<div class="top">
	<h1 class="left">图书之家 <span>欢迎您访问后台管理系统！</span></h1>
</div>
<div class="box radius">
    <h1>
        <svg class="icon yuanquan" aria-hidden="true">
            <use xlink:href="#icon-yuanquanxiao"></use>
        </svg>
    </h1>
	<form method="post" action="{:url('Login/dologin')}">
		<table>
            <tr><th>用户名</th></tr>
			<tr><td><input class="input" type="text" name="username" required /></td></tr>
            <tr><th>密码</th></tr>
			<tr><td><input class="input" type="password" name="password" required /></td></tr>
            <tr><th>验证码</th></tr>
			<tr><td><input class="input" type="text" name="captcha" required /></td></tr>
			<tr><td><img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}'" /></td></tr>
			<tr><td><input class="login_btn radius" type="submit" value="登 录" /></td></tr>
		</table>
	</form>
</div>
</body>
</html>